%p#notice= notice


%p
  %em Contact email:
  = @kicker.contact_email

%p
  %em Contact phone:
  = @kicker.contact_phone

%p
  %em Dob:
  = @kicker.dob

%p
  %em Graduation year:
  = @kicker.graduation_year

%p
  %em Mug shot url:
  = @kicker.mug_shot_url

%p
  %em Bio:
  = @kicker.bio

%p
  %em Gpa:
  = @kicker.gpa

%p
  %em Sat score:
  = @kicker.sat_score

%p
  %em Act score:
  = @kicker.act_score

%p
  %em College credit count:
  = @kicker.college_credit_count

%p
  %em Height inches:
  = @kicker.height_inches

%p
  %em Weight pounds:
  = @kicker.weight_pounds

%p
  %em Forty yd dash:
  = @kicker.forty_yd_dash

%p
  %em Bench press:
  = @kicker.bench_press

%p
  %em Vertical jump:
  = @kicker.vertical_jump

%p
  %em Leg press:
  = @kicker.leg_press


= link_to 'Edit', edit_kicker_path(@kicker)
\|
= link_to 'Back', kickers_path
