!!!
%html
  %head
    %title Kicking Bucky Balls
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag :modernizr
  %body
    .layout--header
      .container
        .logo
          -# TODO: Replace png with SVG and PNG fallback (for olie)
        .login
          %form
            .form-inputs
              %label{:for => "username"}
                Username
              %input{:name => "username", :placeholder => "username", :type => "text"}
              %label{:for => "password"}
                Password
              %input{:name => "username", :placeholder => "password", :type => "password"}
            .form-actions
              %input{:type => "submit", :value => "login"}
    = yield
    .layout--footer
      .container
        .copyright
          &copy;#{Time.now.year}. ikick.it. All rights reserved.
        %nav.nav--footer
          %ul 
            %li=link_to 'About Us', static_path(:about)   
            %li=link_to 'Terms', static_path(:terms)
            %li=link_to 'Pricing Options', static_path(:pricing)
    = javascript_include_tag "application", "data-turbolinks-track" => true