!!!
%html
  %head
    %title Kicking Bucky Balls
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag :modernizr
  %body
    %header
      .container
        .logo
          -# TODO: Replace png with SVG and PNG fallback (for olie)
        %nav.nav--main
          %ul
            %li=link_to "home", "#"
            %li=link_to "find a kicker", "#"

    = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true