!!!
%html
  %head
    %title Kicking Bucky Balls
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag :modernizr
  %body
    = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true